.app {
  display: flex;
  justify-content: flex-start;

  * {
    box-sizing: border-box;
  }

  .text-bold {
    font-weight: 700;
  }

  .button-blue {
    display: inline-block;
    background-color: #084F98;
    border-radius: 8px;
    color: #fff;
    font-size: 17px;
    line-height: 20px;
    padding: 5px 24px 7px;
  }

  @media print {
    -webkit-print-color-adjust: exact;

    .footer-section {
      page-break-inside : avoid;
    }

    .table {
      page-break-inside: auto;
    }
  }
}

.main-container {
  width: 816px;
  padding: 17px 11px 0 11px;
}

.header-section {
  display: flex;
  justify-content: space-between;
  font-size: 12px;

  .logo-block {
    padding: 5px 0 0 36px;

    .address {
      padding-top: 7px;
      color: #333;
    }

    .logo {
      height: 59px;
    }
  }

  .reference-box {
    width: 323px;
    border: 2px solid #084F98;
    padding: 0 20px 5px 20px;

    .title {
      padding: 2px 0;
      font-size: 14px;
    }

    div {
      line-height: 17px;
      display: flex;
      justify-content: space-between;
    }

    .amount-block {
      display: flex;
      justify-content: center;
      padding-top: 17px;

      .amount {
        span+span {
          padding-left: 20px;
        }
      }
    }
  }
}

.contacts-section {
  $icon-width: 30px;
  $icon-height: 30px;

  font-size: 12px;
  display: flex;
  justify-content: space-between;
  padding-top: 17px;

  .contact-info-wrapper {
    padding-left: 82px;
  }

  .options {
    padding-right: 80px;

    .option+.option {
      padding-top: 4px;
    }

    .icon-wrapper {
      display: inline-block;
      vertical-align: top;
      width: $icon-width;
      height: $icon-height;
    }

    .info-wrapper {
      display: inline-block;
      width: calc(100% - #{$icon-width});
      padding-left: 10px;
    }

    .title-wrapper {
      display: flex;
      justify-content: space-between;

      .title {
        font-size: 17px;
        line-height: 19px;
      }

      .value {
        font-weight: 700;
      }
    }
  }
}

.additional-info-section {
  display: flex;
  justify-content: space-between;
  padding-top: 2px;

  &>div {
    display: inline-block;
    vertical-align: top;

    &:first-child {
      width: 54%;
    }

    &:last-child {
      width: 44%;
    }
  }

  .title-wrapper {
    border-bottom: solid 1px #000;
    padding-left: 10px;

    .title {
      font-size: 17px;
    }
  }

  .text {
    font-size: 16px;
    line-height: 18px;
    padding: 1px 0 0 11px;
  }
}

.table-section {
  padding-top: 10px;

  table {
    border-collapse: collapse;
    width: 100%;
    font-size: 14px;
    line-height: 13px;

    td {
      &:first-child {
        text-align: center;
        width: 92px;
      }

      &:nth-child(2) {
        width: 423px;
      }

      &:nth-child(3) {
        width: 80px;
      }

      &:nth-child(4) {
        text-align: right;
        width: 80px;
      }

      &:last-child {
        text-align: right;
        padding-right: 15px;
      }
    }
  }

  thead {
    background-color: #ccc;
    text-align: center;
    line-height: 17px;

    td {
      &+td {
        text-align: left;
      }

      &:nth-child(2) {
        padding-left: 117px;
      }
    }
  }

  tbody {
    td {
      border-bottom: 1px solid black;
      padding: 10px 0;
      vertical-align: top;
    }
  }
}

.footer-section {
  font-size: 12px;
  margin-top: 200px;

  .footer-title {
    text-align: center;
    font-size: 12px;
  }

  .footer-body {
    display: flex;
    justify-content: space-between;
    padding-top: 22px
  }

  .payment-options-block {
    width: 389px;
    border: 2px solid #084F98;
    padding: 7px 7px 20px 7px;

    .payment-title {
      font-size: 13px;
      line-height: 17px;
    }

    .options-wrapper {
      padding: 5px 10px;

      .payment-text {
        line-height: 15px;

        &+.payment-option {
          padding-top: 8px;
        }
      }
    }

    .payment-option {
      span:first-child {
        width: 112px;
        display: inline-block;

        &:not(.title) {
          padding-top: 8px;
        }
      }

      .title {
        font-size: 17px;
        line-height: 23px;
      }

      .text-bold {
        font-size: 16px;
      }
    }

    .special-option {
      padding-top: 10px;

      .description {
        line-height: 12px;
        padding-top: 4px;
      }
    }
  }

  .payment-summary-block {
    .summary-wrapper {
      background-color: #ccc;
      padding: 0 15px 5px 15px;
      border-radius: 8px;
      width: 320px;

      .info-item {
        display: flex;
        justify-content: space-between;
        line-height: 17px;

        &:last-child {
          padding-top: 20px;
        }
      }
    }

    .payment-request {
      line-height: 12px;
      padding: 3px 0 0 15px;
    }

    .client {
      padding: 43px 0 0 30px;
      font-size: 13px;
      line-height: 16px;

      .name {
        font-weight: 700;
      }
    }
  }
}