.app {
  display: flex;
  justify-content: flex-start;

  * {
    box-sizing: border-box;
  }
}

.main-container {
  width: 816px;
  padding: 17px 11px 0 11px;
}

.header-section {
  display: flex;
  justify-content: space-between;
  font-size: 12px;

  .logo-block {
    padding: 5px 0 0 36px;

    .address {
      padding-top: 7px;
      color: #333;
    }

    .logo {
      height: 59px;
    }
  }

  .reference-box {
    width: 323px;
    border: 2px solid #084F98;
    padding: 0 20px 5px 20px;

    .title {
      padding-bottom: 4px;
      font-size: 14px;
    }

    div {
      line-height: 17px;
      display: flex;
      justify-content: space-between;
    }

    .amount-block {
      display: flex;
      justify-content: center;
      padding-top: 17px;

      .amount {
        background-color: #084F98;
        border-radius: 8px;
        display: inline-block;
        color: #fff;
        font-size: 16px;
        line-height: 20px;
        padding: 5px 24px;

        span+span {
          padding-left: 20px;
        }
      }
    }
  }
}

.contacts-section {
  $icon-width: 20px;

  font-size: 12px;
  display: flex;
  justify-content: space-between;
  padding-top: 17px;

  .contact-info-wrapper {
    padding-left: 85px;
  }

  .options {
    padding-right: 120px;

    .icon-wrapper {
      display: inline-block;
      vertical-align: top;
      width: $icon-width;
      height: 20px;
    }

    .info-wrapper {
      display: inline-block;
      width: calc(100% - #{$icon-width});
    }

    .title-wrapper {
      display: flex;
      justify-content: space-between;

      .title {
        font-size: 14px;
        line-height: 17px;
      }
    }
  }
}

.additional-info-section {
  display: flex;
  justify-content: space-between;
  padding-top: 10px;

  &>div {
    display: inline-block;
    vertical-align: top;

    &:first-child {
      width: 54%;
    }

    &:last-child {
      width: 44%;
    }
  }

  .title-wrapper {
    border-bottom: solid 1px #000;
    padding-left: 10px;

    .title {
      font-size: 18px;
    }
  }

  .text {
    font-size: 16px;
    padding-left: 10px;
  }
}