$main-container-width: 816px;
$main-container-padding-left-right: 11px;
$footer-section-height: 267px;
$footer-section-padding-bottom: 85px;

.app {
  display: flex;
  justify-content: flex-start;

  * {
    box-sizing: border-box;
  }

  .text-bold {
    font-weight: 700;
  }

  .button-blue {
    display: inline-block;
    background-color: #084F98;
    border-radius: 8px;
    color: #fff;
    font-size: 17px;
    line-height: 20px;
    padding: 5px 24px 7px;
  }

  .bottom-border {
    border-bottom: 1px solid black;
    width: 100%;
    height: 0;
    position: absolute;
    bottom: 0;
  }

  @media print {
    -webkit-print-color-adjust: exact;

    body {
      margin: 0px;
    }

    thead {
      z-index: -2;
    }

    .paging-container {
      display: block;
    }

    .footer-section {
      page-break-inside: auto;
      height: #{$footer-section-height + $footer-section-padding-bottom};
      background-color: red;

      &.with-background {
        background-color: white;
      }
      
      .fixed-content {
        position: fixed;
        bottom: $footer-section-padding-bottom;
        left: 12px;
        width: calc(100% - #{2 * $main-container-padding-left-right});
        z-index: -1;
      }
    }
  }

  thead, tbody{
    tr {
      display: block;
      page-break-before: auto;
    }
  }
}

.main-container {
  width: $main-container-width;
  padding: 0 $main-container-padding-left-right;
}

.header-section {
  display: flex;
  justify-content: space-between;
  font-size: 12px;
  padding: 17px 0 3px;
  text-align: left;

  .logo-block {
    padding: 5px 0 0 36px;

    .address {
      padding-top: 7px;
      color: #333;
    }

    .logo {
      height: 59px;
    }
  }

  .reference-box {
    width: 323px;
    border: 2px solid #084F98;
    padding: 0 20px 5px 20px;

    .title {
      padding: 2px 0;
      font-size: 14px;
    }

    div {
      line-height: 17px;
      display: flex;
      justify-content: space-between;
    }

    .amount-block {
      display: flex;
      justify-content: center;
      padding-top: 17px;

      .amount {
        span+span {
          padding-left: 20px;
        }
      }
    }
  }
}

.contacts-section {
  $icon-width: 35px;
  $icon-height: 35px;

  font-size: 12px;
  display: flex;
  justify-content: space-between;
  text-align: left;
  padding-top: 20px;

  .contact-info-wrapper {
    padding-left: 82px;
  }

  .options {
    padding-right: 80px;

    .option+.option {
      padding-top: 4px;
    }

    .icon-wrapper {
      display: inline-block;
      vertical-align: top;
      width: $icon-width;
      height: $icon-height;

      img {
        width: 100%;
        margin-top: -7px;
      }
    }

    .info-wrapper {
      display: inline-block;
      width: calc(100% - #{$icon-width});
      padding-left: 10px;
    }

    .title-wrapper {
      display: flex;
      justify-content: space-between;

      .title {
        font-size: 17px;
        line-height: 19px;
      }

      .value {
        font-weight: 700;
      }
    }
  }
}

.additional-info-section {
  display: flex;
  justify-content: space-between;
  padding-bottom: 10px;
  margin-top: -55px;
  text-align: left;

  &>div {
    display: inline-block;
    vertical-align: top;

    &:first-child {
      width: 54%;
    }

    &:last-child {
      width: 44%;
    }
  }

  .title-wrapper {
    border-bottom: solid 1px #000;
    padding-left: 10px;

    .title {
      font-size: 17px;
    }
  }

  .text {
    font-size: 16px;
    line-height: 18px;
    padding: 1px 0 0 11px;
  }
}

.table-section {
  background-color: white;

  table {
    padding-top: 10px;
    border-collapse: collapse;
    width: 100%;
    position: relative;

    .columns-list {
      background-color: #ccc;
      line-height: 13px;
      font-size: 14px;

      &,
      &~tr {
        td:last-child:not(.continue-table) {
          text-align: right;
          padding-right: 15px;
          width: 118px;
        }

        td {
          &:first-child {
            text-align: center;
            width: 92px;
          }
    
          &:nth-child(2) {
            width: 423px;
          }
    
          &:nth-child(3) {
            text-align: right;
            padding-right: 27px;
            width: 80px;
          }
    
          &:nth-child(4) {
            text-align: right;
            width: 80px;
          }
        }
      }

      td {
        vertical-align: middle;
        padding: 5px 0;
      }

      &~tr {
        line-height: 13px;
        font-size: 14px;

        td {
          padding: 10px 0;
        }
      }
    }
    
    .continue-table {
      text-align: left;
   }
  }

  thead {
    text-align: center;
    line-height: 17px;

    .columns-list {
      td {
        &+td {
          text-align: left;
        }
  
        &:nth-child(2) {
          padding-left: 117px;
        }
      }
    }

    td:first-child:last-child {
      display: inline-block;
      width: 100%;
    }
  }

  tbody {
    .header-overlay {
      td {
        position: absolute;
        width: 100%;
        background-color: white;
        top: 165px;
      }
    }

    td {
      vertical-align: top;
      position: relative;

      tab {
        padding-left: 13px;
      }
    }
  }

  tfoot {
    visibility: hidden;

    .paging-placeholder {
      height: 45px;
    }
  }
}

.paging-container {
  display: none;

  .paging-item {
    position: absolute;
    right: calc(100% - #{$main-container-width - $main-container-padding-left-right});
  }
}

.footer-section {
  font-size: 12px;
  height: $footer-section-height;

  .footer-title {
    text-align: center;
    font-size: 12px;
  }

  .footer-body {
    display: flex;
    justify-content: space-between;
    padding-top: 22px
  }

  .payment-options-block {
    width: 389px;
    border: 2px solid #084F98;
    padding: 7px 7px 20px 7px;

    .payment-title {
      font-size: 13px;
      line-height: 17px;
    }

    .options-wrapper {
      padding: 5px 10px;

      .payment-text {
        line-height: 15px;

        &+.payment-option {
          padding-top: 8px;
        }
      }
    }

    .payment-option {
      span:first-child {
        width: 112px;
        display: inline-block;

        &:not(.title) {
          padding-top: 8px;
        }
      }

      .title {
        font-size: 17px;
        line-height: 23px;
      }

      .text-bold {
        font-size: 16px;
      }
    }

    .special-option {
      padding-top: 10px;

      .description {
        line-height: 12px;
        padding-top: 4px;
      }
    }
  }

  .payment-summary-block {
    .summary-wrapper {
      background-color: #ccc;
      padding: 0 15px 5px 15px;
      border-radius: 8px;
      width: 320px;

      .info-item {
        display: flex;
        justify-content: space-between;
        line-height: 17px;

        &:last-child {
          padding-top: 20px;
        }
      }
    }

    .payment-request {
      line-height: 12px;
      padding: 3px 0 0 15px;
    }

    .client {
      padding: 43px 0 0 30px;
      font-size: 13px;
      line-height: 16px;

      .name {
        font-weight: 700;
      }
    }
  }
}